/*reset all*/
*
    {
        border: 0;
        margin: 0;
        padding: 0;
    }
body
    {
        width: 800px;
        margin: auto;
    }
img
    {
        width: 100px;
    }
/*MAIN MENU*/
/*Little color test*/
#mainmenu
    {
        background-color: darkseagreen;
        color:white;
        min-height:50px;
        overflow:hidden;
    }
#mainmenu > a
    {
        width: 20%;
        height: 100%;
        float: left;
    }
#mainmenu > a > img
    {
        display: block;
        margin: auto;
        height: 100%;
    }
#mainmenu > ul
    {
        width: 60%;
        line-height: 7em;
        float: left;
        text-align: center;
    }
#mainmenu > ul > li
    {
        display:inline;
    }
#mainmenu > form
    {
        width: 20%;
        line-height: 7em;
        float: left;
    }
#mainmenu > form > h3
    {
        text-align: center;
    }
/*WEBSITE_PAYOFF*/
#website_payoff
    {
        clear: both;
        padding-top: 2em;
        padding-bottom: 2em;
    }
#website_payoff > h1, #website_payoff > h2
    {
        text-align: center;
        text-transform: uppercase;
    }
/*TEST CSS CODE :)*/
#website_aside
    {
        width:100%;
    }
#website_aside_video
    {
        width:80%;
        float: left;
    }
#aside_images
    {
        width:20%;
        float: right;
        text-align:center;
        height: 100%;
        position: relative;
    }


    /*MAIN content*/
main
    {
        clear: both;
        width: 100%;
    }
main > .main_article
    {
        width: 50%;
        float: left;
    }
main > .main_article > a
    {
        float: left;
    }
#website_footer
    {
        clear: both;
        width: 100%;
        background-color: darkseagreen;
        color:white;
        min-height:50px;
        overflow:hidden;
    }
#website_footer_section_1
    {
        width: 30%;
        float: left;
    }
#website_footer_section_2
    {
        width:70%;
        float: left;
    }
#website_footer_section_2 > aside
    {
        width:30%;
        float: left;
    }
#website_footer_section_2 > article
    {
        width:30%;
        float: left;
    }
#website_footer_section_2 > section
    {
        width:40%;
        float: left;
    }
#website_footer_section_2 > section > a > img
    {
        width:20%;
        margin:5%;
    }
